<!DOCTYPE html>
<html>
<head>
    <!--
        For demonstration purposes, the `title` is dynamically set here based on
        your `sails.config.appName` to show that you can inject data into layouts
        exactly the same way as with your other view templates.
    -->
    <title><%- title %></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <!--

      Stylesheets
      ========================

      You can link any CSS, LESS, or image files in your `assets` directory
      as you would normally: using <link/> tags.
      
    -->
    <link rel="stylesheet" href="/styles/bootstrap.css"/>
    <link rel="stylesheet" href="/styles/sticky-footer.css"/>
    <!--

      Support for LESS included by default
      ================================================

      LESS files are automatically compiled when they change using the Gruntfile
      located in the top-level of this Sails app.  If you run into issues with styles
      not reloading, check the Sails log output in your console for LESS compilation errors.
      If necessary, shut down and then lift your app again.
      
    -->

</head>

<body>
<!-- Include the view file for the current controller/route -->

<!-- Wrap all page content here -->

    <div id="wrap">

        <!-- Fixed navbar -->
        <div class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation" style="padding: 10px 0;">
            <div class="container" style="max-width: 100%!important;">
                <!--<div class="collapse navbar-collapse">-->
                    <!--<form class="navbar-form navbar-left" role="search">-->
                        <!--<button type="submit" class="btn btn-default">-->
                            <!--<span class="glyphicon glyphicon-list"></span>-->
                        <!--</button>-->
                    <!--</form>-->
                <!--</div>-->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a class="navbar-brand" href="/">
                        Appulous.io
                    </a>

                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li>
                            <a href="/register">Get Started</a>
                        </li>
                        <li>
                            <a href="/documentation">Documentation</a>
                        </li>
                        <li>
                            <a href="/demo">Try It</a>
                        </li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>


        <!-- Begin page content -->
        <div class="container">
            <div id="appulous"></div>
            <%- body %>
        </div>
    </div>

    <div id="footer">
        <div class="container">
            <p class="text-muted credit text-center">
                Copyright © 2013
                <a target="_blank" href="http://appulous.io">Appulous</a>
                by
                <a target="_blank" href="https://github.com/TravisBurandt">TravisBurandt</a>
            </p>
        </div>
    </div>



<!--

  Client-side Javascript
  ========================

  You can import any js files in your `assets` directory as you would
  normally: using <script></script> tags.

  Here's an example of importing a few dependencies, in order:
-->
<!-- Bring in the socket.io client -->
<script type="text/javascript" src="/js/lib/socket.io.js"></script>
<!-- then beef it up with some convenience logic for talking to Sails.js -->
<script type="text/javascript" src="/js/lib/sails.io.js"></script>
<!-- listen on socket.io for incoming messages -->
<script type="text/javascript" src="/js/lib/app.js"></script>

<!-- jquery.js -->
<script type="text/javascript" src="/js/lib/jquery-2.0.3.js"></script>

<!-- bootstrap.js -->
<script type="text/javascript" src="/js/lib/bootstrap.js"></script>

<!-- handlebars.js -->
<script type="text/javascript" src="/js/lib/handlebars-1.0.0.js"></script>

<!-- ember.js -->
<script type="text/javascript" src="/js/lib/ember-1.1.2.js"></script>
<script type="text/javascript" src="/js/lib/ember-restless.js"></script>

<!-- ember app -->
<script type="text/javascript" src="/js/app/app-init.js"></script>
<script type="text/javascript" src="/js/app/router.js"></script>
<script type="text/javascript" src="/js/app/store.js"></script>


<!-- Your scripts here? -->
<!-- Your scripts here? -->
<!-- Your scripts here? -->
<style type="text/css">

    .forum-nav {
        margin-left: -15px;
    }

    .forum-nav > li {
        background-color: transparent;
    }

    .forum-nav > li:hover {
        background-color: #e7e7e7;
    }

    .forum-nav > li > a {
        float: left;
        padding: 15px 10px 15px 40px;
        z-index: 50;
    }

    .forum-nav > li:first-child > a {
        padding-left: 20px;
    }

    .forum-nav > li .arrow {
        position: absolute;
        z-index: 50;
        border: 25px solid transparent;
        border-left-color: #666;
        border-right: 0;
        top: 0;
    }

    .forum-nav > li:hover .arrow {
        border-left-color: #666;
    }

    .forum-nav > li .arrow > span {
        border: 25px solid transparent;
        border-left-color: #f8f8f8;
        display: block;
        position: absolute;
        border-right: 0;
        margin: -25px;
    }

    .forum-nav > li.open a {
        z-index: 49;
    }

    .forum-nav > li.open .arrow > span,
    .forum-nav > li:hover .arrow > span {
        border-left-color: #e7e7e7;
    }

</style>

<!--

  Looking for client-side CoffeeScript or TypeScript?
  ================================================

  CoffeeScript and TypeScript precompilation are not installed by default,
  but if you'd like to mix those features in, it is straightforward to
  `npm install` the relevant grunt community modules and modify your Gruntfile
  to use them.

-->



<!--

  Another way: The Asset Linker
  ========================

  Sails supports a Grunt-based asset linker, to automatically inject
  <link> and <script> tags, as well any client-side templates you're using
  into your HTML layouts and views, respecting dependencies.

  You created this Sails app with the asset linker disabled.
  If you change your mind, check out the docs on the subject:
  http://sailsjs.org/#!documentation/asset-management

-->

</body>
</html>