<script>
//    function FetchCtrl($scope, $http, $templateCache) {
//        $scope.method = 'GET';
//        $scope.url = '/tenant';
//
//        $scope.fetch = function() {
//            $scope.code = null;
//            $scope.response = null;
//
//            $http({method: $scope.method, url: $scope.url, cache: $templateCache}).
//                    success(function(data, status) {
//                        $scope.status = status;
//                        $scope.data = data;
//                    }).
//                    error(function(data, status) {
//                        $scope.data = data || "Request failed";
//                        $scope.status = status;
//                    });
//        };
//
//        $scope.updateModel = function(method, url) {
//            $scope.method = method;
//            $scope.url = url;
//        };
//    }

    // other
//    var app = angular.module('myApp', []);
//
//    app.factory('tenantFactory', function($resource) {
//        return $resource('/tenant', {});
//    });
//
//    app.controller('FetchCtrl', ['$scope', 'tenantFactory', function($scope, tenantFactory) {
//        // Instantiate an object to store your scope data in (Best Practices)
//        $scope.data = {};
//
//        $scope.fetch = tenantFactory.query(function(response) {
//            // Assign the response INSIDE the callback
//            $scope.data = response;
//        });
//    }]);


    var app = angular.module('myApp', []);

    function TenantController($scope, $http) {

        $scope.tenant = [];

        // Get tenant
        $scope.find = function(tenant) {
            $http.get('/tenant/:id', {
                'id': tenant.id
            }).success(function(tenant) {
                $scope.tenant = tenant;
            }).error(function(err) {
                alert(err);
            });
        };

        // create tenant
        $scope.create = function(tenant) {
            $http.post('/tenant', {
                title: tenant.title
            }).success(function(tenant) {
                // TODO: after create then show submitted info :)

                $scope.tenant.push(tenant);
            }).error(function(err) {
                // Alert if there's an error
                return alert(err.message || "an error occurred");
            });
        };
    }
</script>

<div ng-app>

    <style>
        .signup-banner {
            background: #3276b1;
            position: absolute;
            height: 265px;
            top: 0;
            right: 0;
            left: 0;
        }

        .signup-banner-text {
            font-family: 'Gotham 7r',"Helvetica Neue",Helvetica,Arial,sans-serif;
            font-weight: bold;
            font-style: normal;
            font-size: 30px;
            letter-spacing: -1px;
            line-height: 120%;
            text-shadow: -1px -1px 1px #000000;
            text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.45);
            color: #eee;
            padding: 30px 0;
        }

        .signup-banner-text h1, h3 {
            margin: 0px;
        }

        .register-form {
            margin-top: 20px;
        }
    </style>

    <div class="signup-banner"></div>

    <div ng-controller="TenantController" ng-cloak>
        <form role="form">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="signup-banner-text">
                        <h1>Keep it in real-time</h1>
                        <h3>Pioneer elegance, be simple and modern, yet powerful...</h3>
                        <h3>Appulous is ready, are you?</h3>
                    </div>

                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3 col-md-7 col-md-offset-3">
                            <div class="input-group input-group-lg">
                                <span class="input-group-addon">http://</span>
                                <input type="text" class="form-control" placeholder="my-website">
                                <span class="input-group-addon">.appulous.io</span>
                            </div>
                        </div>
                    </div>

                    <div class="row register-form">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Email address</label>
                                <input class="form-control" type="email" placeholder="contact@my-website.com" ng-model="tenant.email" required>
                            </div>
                            <div class="form-group">
                                <label>Password</label>
                                <input type="password" class="form-control" ng-model="tenant.password">
                            </div>
                            <div class="form-group">
                                <label>Confirm Password</label>
                                <input type="password" class="form-control" ng-model="tenant.confirm_password">
                            </div>
                        </div>

                        <div class="col-sm-6">

                            <div class="form-group">
                                <label>Website</label>
                                <input class="form-control" type="url" placeholder="http://my-website.com" ng-model="tenant.domain" required>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>First Name</label>
                                        <input class="form-control" type="text" placeholder="John" ng-model="tenant.first_name">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Last Name</label>
                                        <input class="form-control" type="text" placeholder="Doe" ng-model="tenant.last_name">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Username</label>
                                <input class="form-control" type="text" ng-model="tenant.username" required>
                            </div>
                        </div>
                    </div>

                    <p class="text-center">
                        By clicking <strong>Sign Up</strong> you confirm that you accept our Privacy Policy and Terms of Service.
                    </p>
                    <p class="text-center">
                        <button type="submit" class="btn btn-lg btn-primary" ng-click="create(tenant)">Sign Up!</button>
                    </p>
                </div>
            </div>
        </form>
    </div>
</div>